
header {
	width: 100%;
	height: 200px;
	background-color: #1D76BB;
}

.header-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.container {
	display: block;
	margin-top: 30px;
}

form .ng-invalid.ng-dirty {
	border: 3px solid #FF4136;
}

label {
	padding-top: 10px;
	display: block;
}

.btn {
	display: block;
	margin-top: 10px;
}

.forgot{
	display: block;
	margin-top: 10px;
}