<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Newegg</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>

	<body>

		<header>
			<a href="http://www.newegg.com/" id="header-logo2015">
		    	<img src="https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/us_new_logo.png" class="header-logo">
			</a>
		</header>
		<div class="container center-block">
			<div class="jumbotron">

				<form class='container' ng-sumbit='registerUser()' name='regForm' novalidate>
					<legend> Recover Your Password</legend>

					<label>Name</label>
					<input type='text' name='name' ng-model='user.name' required>


					<label>Email</label>
					<input type='email' name='email' ng-model='user.email' required>

					<button
						ng-disabled='regForm.$invalid' class='btn btn-primary'> Submit
					</button>

				</form>

			</div>
		</div>
		
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	</body>
</html>